@font-face {
  font-family: 'choco_bubbleballon_style';
  src: url('fonts/chocobubbleballon-9y05b.woff2') format('woff2'),
       url('fonts/chocobubbleballon-9y05b.woff') format('woff');
  font-weight: normal;
  font-style: normal;
}

body {
  height: 100vh;
}

#content {
  color: #1f1f1f;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
}

a {
  color: #fff;
  text-decoration: none;
}

 /*                   header                      */

header {
  font-size: 2rem;
  padding: 15px 0;
  width: 100%;
  display: flex;
  gap: 30px;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  text-align: center;
}

#logo {
  width: 60px;
  height: 50px;
}

/*                   nav                      */

nav {
  padding: 10px 0;
  background-color: #fff;
  position: sticky;
  top: 0;
  display: flex;
  justify-content: center;
  gap: 15px;
  flex-wrap: wrap;
  z-index: 100;
}

nav button {
  font-size: 1rem;
  background-color: unset;
  border-style: unset;
  cursor: pointer;
}

.active {
  color: #ef3537;
}

/*                     main                      */

main {
  margin-top: 20px;
  padding: 20px 6em;
  display: flex;
  justify-content: center;
}

/*                     home                      */

.home {
  display: flex;
  flex-direction: column;
  gap: 40px;
  flex-wrap: wrap;
  justify-self: stretch;
}

.welcome {
  padding: 0 calc(15px + 10vw);
  color: #fff;
  font-size: calc(10px + 1vw);
  display: flex;
  justify-content: space-evenly;
  text-align: center;
  flex-direction: column;
  background: -webkit-linear-gradient(45deg, #f6b797, #e16b8b);
}

.welcome h2 {
  font-family: 'choco_bubbleballon_style';
  color: #fde4a6;
  font-size: calc(25px + 5vw);
}

.delivery {
  background: -webkit-linear-gradient(45deg, #fac596, #de8ddc);
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.delivery h2 {
  font-family: 'choco_bubbleballon_style';
  text-transform: uppercase;
  color: #fde4a6;
  white-space: nowrap;
  font-size: calc(25px + 5vw);

  position: relative;
  top: 30px;
}

.delivery img{
  -webkit-filter: drop-shadow(5px 5px 5px rgba(34, 60, 80, 0.2));
  filter: drop-shadow(5px 5px 5px rgba(34, 60, 80, 0.2));
  z-index: 1;
  height: 70%;
  margin-top: auto;
}

.welcome, .delivery {
  border-radius: 5px;
  flex: 1 1 auto;
  background-color:thistle;
  min-width: 200px;
  height: 240px;
  -webkit-box-shadow: 0px 0px 35px 1px rgba(34, 60, 80, 0.2);
  -moz-box-shadow: 0px 0px 35px 1px rgba(34, 60, 80, 0.2);
  box-shadow: 0px 0px 35px 1px rgba(34, 60, 80, 0.2);
}

/*                    menu                      */

.menu {
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
  justify-content: center;
}


@media (min-width: 768px) {
  .menu-item {
    width: 250px;
    height: fit-content;
  }
}

@media (max-width: 767px) {
  .menu-item {
    width: 250px;
    height: 300px;
    -webkit-box-shadow: 0px 0px 35px 1px rgba(34, 60, 80, 0.1);
  -moz-box-shadow: 0px 0px 35px 1px rgba(34, 60, 80, 0.1);
  box-shadow: 0px 0px 35px 1px rgba(34, 60, 80, 0.1);
  }
}

.menu-item {
  border-radius: 10px;
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  transition: transform .2s;
}

.menu-item:hover {
  transform: scale(1.05);
}

.menu-item img {
  max-width: 70%;
}

.menu-item h2 {
  font-size: 18px;
}

.menu-item > p {
  font-size: 14px;
  color: #999999;
}

.menu-item .buy {
  font-size: 20px;
  align-self: stretch;
  align-items: center;
  display: flex;
  justify-content: space-between;
}

.price {
  color: #000;
}

.choose-btn {
  display: inline-block;
  height: 40px;
  font-size: 16px;
  color: #ef3537;
  background-color: unset;
  border-radius: 5px;
  border: 1px solid #ef3537;
  box-shadow: inset 0px 0px 0px #fff;
  transition: all 0.5s !important;
}

.choose-btn:hover{
  color: #fff;
  box-shadow: inset 0px -80px 0px #ef3537;
}

/*                    contact                      */

.contact {
  gap: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.contact img {
  width: 70%;
  min-width: 300px;
}


/*                    footer                      */
footer {
  color: #fff;
  background-color: #1f1f1f;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  margin-top: auto;
}

footer img {
  height: 20px;
  width: 20px;
}

footer a {
  display: flex;
  align-items: center;
  gap: 10px;
}